<div class="card card-chart">
    <div class="card-header">
        <h5 class="card-category">Speedtester</h5>
        <h3 class="card-title"><i class="tim-icons icon-wifi text-warning"></i> Current Internet Speed</h3>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <div class="container">
                {#                TODO: Add internet big text here #}
                <h1>
                    INTERNET SPEED HERE
                </h1>
            </div>
{#            <canvas id="CountryChart"></canvas>#}
        </div>
    </div>
</div>