<div class="card card-body w-100 h-30">

    <div class="card-header">
        <h5 class="card-category">System</h5>
        <h4 class="card-title"><i class="tim-icons icon-minimal-up text-info"></i> Machine Uptime</h4>
    </div>

    <div class="card-body w-100 h-100">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4 id="uptime-days">
                            This text should not be seen
                            Machine Uptime days
                        </h4>
                    </div>
                    <div class="col-6 text-right">
                        <h3 id="uptime" class="text-primary">
                            This text should not be seen
                            Machine Uptime hours goes here
                        </h3>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>