<div class="card card-chart">
    <div class="card-header">
        <h5 class="card-category">Platform Specs</h5>
        <h3 class="card-title" n><i class="tim-icons icon-laptop text-warning"></i> 3,500€</h3>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <div class="container">
                {#                TODO: Add internet big text here #}
                <h1 class="platform-spec-header-1">
                    PLATFORM SPECS HERE
                </h1>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $.ajax({
        url: {% url 'platform_specs' %},
        type: "GET",
        dataType: "json",
        success: (data) => {
            console.log(data);
            $('.platform-spec-header-1').html(data['machine']);
        },
        error: (error) => {
            console.log(error);
        }
    });

</script>