<div class="card card-body w-100 h-30">
    <div class="card-header">
        <h5 class="card-category">System</h5>
        <h4 class="card-title"><i class="tim-icons icon-minimal-up text-info"></i> Machine Uptime</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-=6">
                        <h4 id="uptime-days">

                        </h4>
                    </div>
                    <div class="col-6 text-right">
                        <h4 id="uptime">

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
{#    const user_id = JSON.parse(document.getElementById('user_id').textContent);#}
{#    console.log(user_id)#}
{##}
{##}
{#    const machineUptimeSocket = new WebSocket(#}
{#        'ws://'#}
{#        + window.location.host#}
{#        + '/ws/machine_uptime/'#}
{#        + user_id#}
{#        + '/'#}
{#    );#}
{##}
{#    machineUptimeSocket.onmessage = function (e) {#}
{##}
{##}
{#        const data = JSON.parse(e.data);#}
{##}
{#        uptimeDays = "<h4>" + data.message['days'] + "\t days</h4>"#}
{#        uptime = "<h4 class='text-primary'>" + data.message['hours'] + ":\t" + data.message['minutes'] + ":\t" + data.message['seconds'] + "</h4>"#}
{##}
{#        document.getElementById("uptime-days").innerHTML = uptimeDays#}
{#        document.getElementById("uptime").innerHTML = uptime#}
{#    };#}
{#    machineUptimeSocket.onclose = function (event) {#}
{#        if (event.wasClean) {#}
{#            console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);#}
{#        } else {#}
{#            // e.g. server process killed or network down#}
{#            // event.code is usually 1006 in this case#}
{#            console.log('[close] Connection died');#}
{#        }#}
{#    };#}
{#    window.onbeforeunload = function() {#}
{#    machineUptimeSocket.onclose = function () {}; // disable onclose handler first#}
{#    machineUptimeSocket.close();#}
{#};#}


</script>
