<div class="card card-body w-100 h-30">
    <div class="card-header">
        <h5 class="card-category">System</h5>
        <h4 class="card-title"><i class="tim-icons icon-minimal-up text-info"></i> Machine Uptime</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-=6">
                        <h4 id="uptime-days">

                        </h4>
                    </div>
                    <div class="col-6 text-right">
                        <h4 id="uptime">

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/machine_uptime/'
    );
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data.message)
        uptimeDays = "<h4>" + data.message['days'] + "\t days</h4>"
        uptime = "<h4 class='text-primary'>" + data.message['hours'] + ":\t" + data.message['minutes'] + ":\t" + data.message['seconds'] + "</h4>"

        document.getElementById("uptime-days").innerHTML = uptimeDays
        document.getElementById("uptime").innerHTML = uptime
    };
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };


</script>
