<div class="card card-chart">
    <div class="card-header">
        <h5 class="card-category">Uptime</h5>
        <h3 class="card-title"><i class="tim-icons icon-button-power text-danger"></i> Device uptime</h3>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <div class="container">
                {#                TODO: Add internet big text here #}
                <h1>
                    UPTIME HERE
                </h1>
            </div>        </div>
    </div>
</div>