{#<div class="card card-body">#}
{#    <div class="weatherCard">#}
{#        <div class="currentTemp">#}
{#            <span class="temp text-primary" id="temp">-</span>#}
{#            <span class="location" id="location-name">Location</span>#}
{#        </div>#}
{#        <div class="currentWeather">#}
{#            <span class="condition-icon center"><img id="condition-icon"></span>#}
{#            <div class="info">#}
{#                <span class="rain" id="condition-text">-</span>#}
{#                <span class="wind" id="wind">-</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="card" style="max-height: 180px; height: 150px">
    <div class="container">

        <div class="card-header">
            <h5 class="card-category"><i class="tim-icons icon-square-pin text-warning"></i> Weather</h5>
            {#        <h3 class="card-title"><i class="tim-icons icon-laptop text-info"></i> Current Weather </h3>#}
        </div>

        <div class="container">
            <div class="container-fluid">
                <h5 class="location text-warning" id="condition-text">location</h5>
                <br><br>
                <h6 class="location" id="wind">needed</h6>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>