<div class="card" style="max-height: 180px; height: 150px">
    <div class="container">
        <div class="card-header">
            <h5 class="card-category"><i class="tim-icons icon-globe-2 text-warning"></i> Weather</h5>
        </div>
        <div class="container">
            <div class="container-fluid">
                <img class="condition-icon" id="condition-icon" style="width: 25%;height: 50%">
                <h5 class="location text-warning" id="condition-text">location</h5>
                <br><br>
                <h6 class="location" id="wind">needed</h6>

            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>