{% extends "layouts/base.html" %}
{#<meta http-equiv="Refresh" content="1">#}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {{ request.user.id|json_script:"user_id" }}

    <div class="row ">
        <div class="col-4">
            {% include 'includes/system/uptime_card.html' %}
            {% include 'includes/system/date-time-card.html' %}


        </div>
        <div class="col-4">
            {% include 'includes/system/platform-specs_card.html' %}
        </div>

        <div class="col-4 h-100">

        </div>

        {#        <div class="col-2">#}
        {#            {% include 'includes/system/date-time-card.html' %}#}
        {#        </div>#}
        {#        <div class="col-2">#}
        {#            {% include 'includes/system/date-time-card.html' %}#}
        {#        </div>#}
        {#        <div class="col-2">#}
        {#            {% include 'includes/system/date-time-card.html' %}#}
        {#        </div>#}
    </div>
    {##}
    {#    <div class="row">#}
    {#        <div class="col-8">#}
    {#            {% include 'includes/internet_speed/speedtest_chart_card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/internet_speed/speedtest_bigtext_card.html' %}#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            chartBig1#}
    {#            CountryChart#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#    </div>#}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });

        {#setTimeout(function () { location.reload(true); }, 5000);#}

    </script>

{% endblock javascripts %}
