{% extends "layouts/base.html" %}
{#<meta http-equiv="Refresh" content="1">#}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {{ request.user.id|json_script:"user_id" }}

    <div class="row">
        {#    TODO: FIX Alignment of datetime card and machine uptime card, the date is too long makes the card longer than the machine time #}
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-5">
            {% include 'includes/system/date-time-card.html' %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
            {% include 'includes/system/machine-uptime-card.html' %}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
            {% include 'includes/weather/weather-card.html' %}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-2">
            {% include 'includes/weather/weather-conditions-card.html' %}
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            {% include 'includes/internet_speed/weekly-internet-speedtest-chart-card.html' %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            {% include 'includes/internet_speed/latest-internet-speedtest-card.html' %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
            {% include 'includes/internet_speed/weekly-internet-speedtest-agg-card.html' %}
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
{#            {% include 'includes/social/twitter-trends-card.html' %}#}
        </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% include 'includes/social/twitter-trends-word-cloud-card.html' %}
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">#}
    {#            {% include 'includes/internet_speed/latest-internet-speedtest-card.html' %}#}
    {#        </div>#}
    {#    </div>#}
    {#        <div class="col-8">#}
    {#            {% include 'includes/internet_speed/speedtest_chart_card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/internet_speed/speedtest_bigtext_card.html' %}#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            chartBig1#}
    {#            CountryChart#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#        <div class="col-lg-4">#}
    {#            {% include 'includes/weather/weather-card.html' %}#}
    {#        </div>#}
    {#    </div>#}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });

        {#setTimeout(function () { location.reload(true); }, 5000);#}

    </script>

{% endblock javascripts %}
