<div class="card card-body">

    <div class="card-header">
        <h5 class="card-category">Social</h5>
        <h3 class="card-title"><i class="tim-icons icon-chat-33 text-success"></i> Twitter Trends</h3>
    </div>

    <div class="card-body">
{#        <div class="container">#}
            <div class="table-responsive">
                <h6 class="white">TRENDING TWITTER TOPICS BELOW</h6>

                <table class='table tablesorter' style='width:100%' id="twt-trends-table">
                </table>

            </div>
{#        </div>#}
    </div>

    <div class="card-footer">
    </div>

</div>


<script type="text/javascript">
    $.ajax({
        url: {% url 'twt_get_trends' %},
        type: "GET",
        dataType: "json",
        success: (data) => {
            var content = ""
            console.log(data)
            for (var [country, trends] of Object.entries(data)) {
                content += '<tr><td class="text-info">' + country + '</td>'
                console.log(country, trends)

                for (var [key, value] of Object.entries(trends.trends)) {
                    console.log(key, value)
                    content += '<td class="text-center"><a href="' + value.url + '">' + value.name + '</a></td>';
                }
                content += "</tr>"
            }

            document.getElementById("twt-trends-table").innerHTML = content;
        },
        error: (error) => {
            console.log(error);
        }
    });
</script>